form{
  border: 1px solid silver;
  border-radius: 5px;
  display: inline-table;
  width: 100%;
  margin: 1px auto;
  padding: 1px;
}
form fieldset{
  border: 1px solid silver;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}
form legend{
  border: 1px solid silver;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}
form input{
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 1px;
}
form button{
  display: block;
  margin: 0;
  padding: 1px;
  width: 100%;
}
